<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.translateFaster</string>
	<key>category</key>
	<string>My</string>
	<key>connections</key>
	<dict>
		<key>09EE6939-3F46-4A85-8CAF-EEFE682E29C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41A2E8BC-9358-43E3-88C8-352193F2B356</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14C8ECC6-3491-4ECC-95B6-34BDCB04371B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A3D601A-70AA-4E86-96DA-C161EF8A4312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A3D601A-70AA-4E86-96DA-C161EF8A4312</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66536E07-0287-4D78-84BC-3564209ECB96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FABD3FC-2DD0-49BB-8D1C-EEBDDF3E8204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64921E1B-0C33-41C3-A465-4676E603865D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27BBDF5C-9616-46A8-AD20-71458AC46F10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>590C19FA-FD46-4A1A-B043-077F636E7B7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3621D560-EB29-4AA1-80D3-1CBBF4961FF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8318A06F-FB0C-482A-B6CE-C1A1DA863506</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FABD3FC-2DD0-49BB-8D1C-EEBDDF3E8204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E50671B-B7B8-491F-82E2-142F31ED884C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41A2E8BC-9358-43E3-88C8-352193F2B356</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3621D560-EB29-4AA1-80D3-1CBBF4961FF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48FA1744-17E7-4CDA-89A5-D1AF75D8D633</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DBE625A-2CED-4673-A48A-3BA6221A0616</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E50671B-B7B8-491F-82E2-142F31ED884C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70349EA2-68A3-4D6C-AB9A-ACCBE134FEC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52C7FD5D-D4A6-4BEA-9D2A-A7117F0588B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D6B7DE-5229-4F94-9F32-8F196BE5CFA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>590C19FA-FD46-4A1A-B043-077F636E7B7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20B8DC1E-2B92-443E-AAD5-737905C283A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66536E07-0287-4D78-84BC-3564209ECB96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67C8BE69-79D8-4F2C-B3A3-DD2F866A8EF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67C8BE69-79D8-4F2C-B3A3-DD2F866A8EF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27BBDF5C-9616-46A8-AD20-71458AC46F10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8318A06F-FB0C-482A-B6CE-C1A1DA863506</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52C7FD5D-D4A6-4BEA-9D2A-A7117F0588B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FABD3FC-2DD0-49BB-8D1C-EEBDDF3E8204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4E50671B-B7B8-491F-82E2-142F31ED884C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Denys Korolkov</string>
	<key>description</key>
	<string>Write &amp; Translate Faster</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>translateFaster</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>64921E1B-0C33-41C3-A465-4676E603865D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tr&gt;</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node main.js "yandex" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Start typing text for translating</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B06EFA00-BD47-48B9-BF13-A73052018A79</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1FABD3FC-2DD0-49BB-8D1C-EEBDDF3E8204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>70349EA2-68A3-4D6C-AB9A-ACCBE134FEC0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>tr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node main.js "translate" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Example script filter using nodejs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4E50671B-B7B8-491F-82E2-142F31ED884C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tr+</string>
				<key>subtext</key>
				<string>use follow format: as % as %. такой .. же .. #hashtag #compare</string>
				<key>text</key>
				<string>Add a rule for English language.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48FA1744-17E7-4CDA-89A5-D1AF75D8D633</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:filePath}</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>4DBE625A-2CED-4673-A48A-3BA6221A0616</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>tr</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FBFBB110-BB37-4C2C-A7A7-B3096788E0AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -t {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67C8BE69-79D8-4F2C-B3A3-DD2F866A8EF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>20B8DC1E-2B92-443E-AAD5-737905C283A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1A3D601A-70AA-4E86-96DA-C161EF8A4312</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>f</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>590C19FA-FD46-4A1A-B043-077F636E7B7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>tr=</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/node main.js "translate" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Example script filter using nodejs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14C8ECC6-3491-4ECC-95B6-34BDCB04371B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:englishFilePath}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>66536E07-0287-4D78-84BC-3564209ECB96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>27BBDF5C-9616-46A8-AD20-71458AC46F10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Lingvo Dictionary.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>41A2E8BC-9358-43E3-88C8-352193F2B356</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8318A06F-FB0C-482A-B6CE-C1A1DA863506</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Translate using Lingvo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09EE6939-3F46-4A85-8CAF-EEFE682E29C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>26D6B7DE-5229-4F94-9F32-8F196BE5CFA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3621D560-EB29-4AA1-80D3-1CBBF4961FF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>52C7FD5D-D4A6-4BEA-9D2A-A7117F0588B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09EE6939-3F46-4A85-8CAF-EEFE682E29C0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>14C8ECC6-3491-4ECC-95B6-34BDCB04371B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>1A3D601A-70AA-4E86-96DA-C161EF8A4312</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>1FABD3FC-2DD0-49BB-8D1C-EEBDDF3E8204</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>20B8DC1E-2B92-443E-AAD5-737905C283A0</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>26D6B7DE-5229-4F94-9F32-8F196BE5CFA6</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>27BBDF5C-9616-46A8-AD20-71458AC46F10</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>3621D560-EB29-4AA1-80D3-1CBBF4961FF9</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>3D0FA177-5AAE-4F7D-B7C0-DC068CAE2367</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>41A2E8BC-9358-43E3-88C8-352193F2B356</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>48FA1744-17E7-4CDA-89A5-D1AF75D8D633</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>4DBE625A-2CED-4673-A48A-3BA6221A0616</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>4E50671B-B7B8-491F-82E2-142F31ED884C</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>52C7FD5D-D4A6-4BEA-9D2A-A7117F0588B2</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>590C19FA-FD46-4A1A-B043-077F636E7B7A</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>64921E1B-0C33-41C3-A465-4676E603865D</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>66536E07-0287-4D78-84BC-3564209ECB96</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>67C8BE69-79D8-4F2C-B3A3-DD2F866A8EF7</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>70349EA2-68A3-4D6C-AB9A-ACCBE134FEC0</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>8318A06F-FB0C-482A-B6CE-C1A1DA863506</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>B06EFA00-BD47-48B9-BF13-A73052018A79</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FBFBB110-BB37-4C2C-A7A7-B3096788E0AA</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>filePath</key>
		<string>~/Documents/draft/alfred-english.txt</string>
		<key>language</key>
		<string>ru</string>
		<key>languageTo</key>
		<string>en</string>
		<key>yandexApiKey</key>
		<string>trnsl.1.1.20160706T162021Z.f9e77f8a41ddc51e.3024039c8d9692eaeb1d31645491f19573e63d40</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>yandexApiKey</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>http://korolkov.pro</string>
</dict>
</plist>
